<h1 id="logo">🌊 WaterBox</h1>

<h1>Data From db.sqlite</h1>
<div style="display: flex; align-items: center; flex-wrap: wrap;">
  <pre style="margin: 0 0.5rem 0.5rem 0;">SELECT * FROM fruits WHERE</pre>
  <input id="condition-input"
         type="text"
         placeholder="e.g. description LIKE '%danger%'"
         size="35"
         value="{{condition}}"
         autofocus
         style="margin: 0 0.5rem 0.5rem 0;"/>
  <button id="query-btn"
          style="margin: 0 0.5rem 0.5rem 0;">⚡ Query</button>
  <button id="reset-btn">Reset</button>
</div>
<table id="fruit-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#fruits}}
      <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{description}}</td>
      </tr>
    {{/fruits}}
  </tbody>
</table>
