/*****************************************************************************/
/*                         Your Custom Styles Go Here                        */
/*****************************************************************************/

/* Uncomment this section if you want a full-sized layout*/
/* without the content squished to the center */
/* body {
  padding: 0;
  margin: 0;
  max-width: 100%;
} */


/* An example custom style for the #logo header in main.mustache */
#logo {
  font-size: 300%;
  font-weight: 100;
  text-align: center;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo img {
  max-height: 6rem;
  margin-right: 0.3em;
  position: relative;
  top: 0.3rem;
}
#logo .muted {
  opacity: 0.3;
}

/* Loading spinner styles */
/* You can delete these if you don't need them */
#loading-spinner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -60%);
  filter: opacity(0.3);
}
#loading-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  border: 25px solid #11A3BB;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #11A3BB transparent transparent transparent;
}
#loading-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
#loading-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
#loading-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
